@font-face {
  font-family: "Alegreya";
  src:
    url("alegreya-bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya-Sans";
  src:
    url("alegreyasans-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  font-family: "Alegreya-Sans",sans-serif;
}
section {
  padding: 8rem 0 7rem;
  text-align: left;
}

h1 {
  background-color: #87bdd8;
  text-align: center;
  font-size: 44px;
}

#headerh1 {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  
  color: rgb(22, 76, 122);  
  font-family: "Alegreya",serif;
  font-size: 44px;
}

button, input {
  float: left;
  text-align: left;
}

.button-file {
  font-family: "Alegreya-Sans", sans-serif;
}

.button-delete {
  background-color: indianred;
  color: lightpink;
}

.button-codenote {
  width: 100%;
  float: left;
  border: none;
}

#cancel {
  float:right;
}

li {
  list-style-type:none;
}

li a {
  text-decoration: none;
}

label {
  float: left;
}

textarea {
  height: auto;
  width: 100%;
  min-height: 40vh;
  font-family: monospace, monospace;
  font-size: .7em;
}

.container {
  max-width: 1100px;
}

.codelist {
  background-color: #e4ecf0;
  max-height: 500px;
  overflow-y: scroll;
  text-align: left;
}

.column .columns {
  background-color: white;
}

#search {
  width: 100%;
}

#footer {
  background-color: #eaf3d6;
  text-align: center;
}

.hide{
  display:none;  
}
